h1 {
    color: rgb(17, 16, 16);
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
}

p {
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: Helvetica;
}

IMG.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    border: 2mm ridge rgba(68, 68, 68, 0.6);
 }

.cadre{
    
    height: 50%;
    width: 20%;
    margin-bottom: 20px;
    border: solid;
    padding-bottom: 20px;
    align-items: center;
    margin: auto;
    background: #1abc9c;
    
}

.genre
{
    font-weight: bold;
    font-size: large;
}

.cadreALL
{
    display: flex;
    justify-content: space-between;
}

body
{
    background-color: #85e7d4;
}