<body>
    <div class="cadre">
        <div class="titre">
            <h1>[{{media.id}}]</h1>
        </div>
        <div class="titre">
            <h1>{{media.titre}}</h1>
        </div>
        <div class="genre">
            <p>{{media.type}}</p>
        </div>
        <div class="genre">
            <p>{{media.genre}}</p>
        </div>
        <div class="resume">
            <p>{{media.resume}}</p>
        </div>
        <div>
            <img class="image" src='../../assets/images/{{media.image}}'>
        </div>
    </div>
</body>